<div class="container text-center col-8 bg-light py-4">
  <%= render "form", restaurant: @restaurant %>

  <%= link_to "Back to all restaurants", restaurants_path, class: "btn-secondary p-2 rounded" %>
</div>
